# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
env/

# Flask
instance/
.flaskenv

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# ML Models
*.h5
*.pt
*.pth
*.joblib
*.pkl

# Dataset Cache
datasets/full_dataset/

# Node
node_modules/
dist/
build/